# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*

# env
.env
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store

# tests
/coverage
/.nyc_output
